.productDescription {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 70px;
}
.productDescription .productIntro {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}
.productDescription .productIntro .left {
  width: 700px;
  margin-right: 30px;
}
.productDescription .productIntro .left .img img {
  width: 100%;
}
.productDescription .productIntro .right {
  width: 700px;
  margin-left: 30px;
}
.productDescription .productIntro .right h1 {
  font-size: 35px;
}
.productDescription .productIntro .right .sellingPrice {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.productDescription .productIntro .right .selectColor {
  margin-top: 50px;
}
.productDescription .productIntro .right .selectColor select {
  border: 1px solid gray;
  width: 300px;
  font-size: 25px;
}
.productDescription .productIntro .right .quantity {
  margin-top: 50px;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
.productDescription .productIntro .right .quantity div {
  border: 1px solid black;
  font-size: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDescription .productIntro .right .quantity div button {
  width: 65px;
  height: auto;
  border: none;
  font-size: 27px;
  background-color: transparent;
}
.productDescription .productIntro .right .involve {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.productDescription .productIntro .right .involve button:first-child {
  width: 200px;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.productDescription .productIntro .right .involve button:last-child {
  width: 200px;
  height: 60px;
  background-color: gray;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.productDescription .productIntro .right .contact {
  width: 500px;
  height: 60px;
  background-color: white;
  margin-top: 50px;
  align-self: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.productDescription .second-Part {
  margin-top: 40px;
  display: block;
  width: 100%;
}
.productDescription .second-Part .selectIntro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  position: relative;
}
.productDescription .second-Part .selectIntro button {
  width: 150px;
  background-color: white;
  border: none;
  height: 50px;
  color: gray;
}
.productDescription .second-Part .selectIntro button:hover {
  transition: 0.5s;
  color: black !important;
}
.productDescription .second-Part .details {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid gray;
  padding: 40px 20px;
}
.productDescription .second-Part .details .productDetails {
  display: none;
}
.productDescription .second-Part .details .comment {
  display: none;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 1500px) {
  .productDescription {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
  }
  .productDescription .productIntro {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }
  .productDescription .productIntro .left {
    width: 50%;
    margin-right: 30px;
  }
  .productDescription .productIntro .left .img img {
    width: 100%;
  }
  .productDescription .productIntro .right {
    width: 50%;
    margin-left: 30px;
  }
  .productDescription .productIntro .right h1 {
    font-size: 35px;
  }
  .productDescription .productIntro .right .sellingPrice {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  .productDescription .productIntro .right .selectColor {
    margin-top: 50px;
  }
  .productDescription .productIntro .right .selectColor select {
    border: 1px solid gray;
    width: 300px;
    font-size: 25px;
  }
  .productDescription .productIntro .right .quantity {
    margin-top: 50px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  .productDescription .productIntro .right .quantity div {
    border: 1px solid black;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productDescription .productIntro .right .quantity div button {
    width: 65px;
    height: auto;
    border: none;
    font-size: 27px;
    background-color: transparent;
  }
  .productDescription .productIntro .right .involve {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .productDescription .productIntro .right .involve button:first-child {
    width: 40%;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
  .productDescription .productIntro .right .involve button:last-child {
    width: 40%;
    height: 60px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
  .productDescription .productIntro .right .contact {
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 50px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .productDescription .second-Part {
    margin-top: 40px;
    display: block;
    width: 100%;
  }
  .productDescription .second-Part .selectIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    position: relative;
  }
  .productDescription .second-Part .selectIntro button {
    width: 150px;
    background-color: white;
    border: none;
    height: 50px;
    color: gray;
  }
  .productDescription .second-Part .selectIntro button:hover {
    transition: 0.5s;
    color: black !important;
  }
  .productDescription .second-Part .details {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 40px 20px;
  }
  .productDescription .second-Part .details .productDetails {
    display: none;
  }
  .productDescription .second-Part .details .comment {
    display: none;
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .productDescription .productIntro .right h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 800px) {
  .productDescription {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
  }
  .productDescription .productIntro {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .productDescription .productIntro .left {
    width: 100%;
    margin-right: 0px;
  }
  .productDescription .productIntro .left .img img {
    width: 100%;
  }
  .productDescription .productIntro .right {
    width: 100%;
    margin-left: 0px;
  }
  .productDescription .productIntro .right h1 {
    font-size: 20px;
  }
  .productDescription .productIntro .right .sellingPrice {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  .productDescription .productIntro .right .selectColor {
    margin-top: 50px;
  }
  .productDescription .productIntro .right .selectColor select {
    border: 1px solid gray;
    width: 300px;
    font-size: 25px;
  }
  .productDescription .productIntro .right .quantity {
    margin-top: 50px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  .productDescription .productIntro .right .quantity div {
    border: 1px solid black;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productDescription .productIntro .right .quantity div button {
    width: 65px;
    height: auto;
    border: none;
    font-size: 27px;
    background-color: transparent;
  }
  .productDescription .productIntro .right .involve {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .productDescription .productIntro .right .involve button:first-child {
    width: 40%;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
  .productDescription .productIntro .right .involve button:last-child {
    width: 40%;
    height: 60px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
  .productDescription .productIntro .right .contact {
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 50px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .productDescription .second-Part {
    margin-top: 40px;
    display: block;
    width: 100%;
  }
  .productDescription .second-Part .selectIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    position: relative;
  }
  .productDescription .second-Part .selectIntro button {
    width: 40%;
    background-color: white;
    border: none;
    height: 50px;
    color: gray;
  }
  .productDescription .second-Part .selectIntro button:hover {
    transition: 0.5s;
    color: black !important;
  }
  .productDescription .second-Part .details {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 40px 20px;
  }
  .productDescription .second-Part .details .productDetails {
    display: none;
    width: 100%;
  }
  .productDescription .second-Part .details .comment {
    display: none;
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .productDescription {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
  }
  .productDescription .productIntro {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .productDescription .productIntro .left {
    width: 100%;
    margin-right: 0px;
  }
  .productDescription .productIntro .left .img img {
    width: 100%;
  }
  .productDescription .productIntro .right {
    width: 100%;
    margin-left: 0px;
  }
  .productDescription .productIntro .right h1 {
    font-size: 15px;
  }
  .productDescription .productIntro .right .sellingPrice {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  .productDescription .productIntro .right .selectColor {
    margin-top: 50px;
  }
  .productDescription .productIntro .right .selectColor select {
    border: 1px solid gray;
    width: 300px;
    font-size: 25px;
  }
  .productDescription .productIntro .right .quantity {
    margin-top: 50px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  .productDescription .productIntro .right .quantity div {
    border: 1px solid black;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productDescription .productIntro .right .quantity div button {
    width: 65px;
    height: auto;
    border: none;
    font-size: 27px;
    background-color: transparent;
  }
  .productDescription .productIntro .right .involve {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .productDescription .productIntro .right .involve button:first-child {
    width: 40%;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
  }
  .productDescription .productIntro .right .involve button:last-child {
    width: 40%;
    height: 60px;
    background-color: gray;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
  }
  .productDescription .productIntro .right .contact {
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 50px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .productDescription .second-Part {
    margin-top: 40px;
    display: block;
    width: 100%;
  }
  .productDescription .second-Part .selectIntro {
    width: 100%;
  }
  .productDescription .second-Part .selectIntro button {
    width: 40%;
    background-color: white;
    border: none;
    height: 50px;
    color: gray;
  }
  .productDescription .second-Part .selectIntro button:hover {
    transition: 0.5s;
    color: black !important;
  }
  .productDescription .second-Part .details {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 40px 20px;
  }
  .productDescription .second-Part .details .productDetails {
    display: none;
    width: 100%;
  }
  .productDescription .second-Part .details .comment {
    display: none;
    width: 100%;
    justify-content: center;
  }
}/*# sourceMappingURL=productPage.css.map */