form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 50px;

    h4 {
        margin-bottom: 50px;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            margin-top: 40px;
        }
    }

    .btn {
        width: 48%;
        height: 60px;
        font-size: 22px !important;
        margin-top: 30px;
        border: none;
    }
}